@font-face {
    font-family: 'Playwrite NL Guides';
    src: url('PlaywriteNLGuides-Regular.woff2') format('woff2'),
        url('PlaywriteNLGuides-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite NL Guides';
    src: url('PlaywriteNLGuides-Regular.woff2') format('woff2'),
        url('PlaywriteNLGuides-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

